<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            function required() {
                var empt = document.forms["query"]["ign"].value;
                if (empt == '') {
                    //alert('Please, input a value') // better way to do this?
                    document.querySelector('#submit').removeAttribute('aria-busy')
                    return false
                }
                var json = document.getElementById('json')
                var player = '{{ player }}'
                console.log(json)
                json.innerHTML = 'Convert to JSON: <a href="/data?player='+ player +'">'+ player +'</a>'
                return true
            }
            function load() {
                document.querySelector('#submit').setAttribute('aria-busy', 'true')
            }
        </script>
        <link rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <title>RealmData</title>
    </head>
    <body>
        <main class="container">
            <div class="grid">
                <form name="query" action="." method="post" onsubmit="return required()">
                    <label>
                        Player In-Game Name
                        <input type="text" name="ign"
                            id="name" placeholder="Player IGN">
                        <small>Example: neopkr <br>The query is case sentitive!</small>
                    </label>
                    <button id="submit" type="submit" onclick="load()">Search</button>
                </form>
            </div>
            <div>
                {% if test %}
                    <p id="json">{{ test[0] }} <a href='/data?player={{ test[1] }}'>{{ test[1] }}</a></p>
                {% endif %}
                <pre id="results">{{ ign }}</pre>
            </div>
            <footer>
                <hr>
                <p>
                    <small>
                        Code licensed: <a href="">MIT</a> <br><br>
                        Check our <a href="https://github.com/neopkr/RealmEyeData">repository</a> for more information
                        with QueryUrl. <br>
                        With ❤, neopkr.
                    </small>
                </p>
            </footer>
        </main>
    </body>
</html>
